@import "tailwindcss";

:root {
  --background: #0F0F0F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-noto: var(--font-noto-sans-kr);
  --font-br: var(--font-baskin-robbins);

  --color-black: #0F0F0F;
  --color-gray-500: #161616;
  --color-gray-400: #161616;
  --color-gray-300: #161616;
  --color-gray-200: #161616;
  --color-gray-100: #161616;
  --color-white: #FFFFFF;

  --color-red: #FF483D;
  --color-blue: #29C9F9;
  --color-purple: #A77EFF;
  --color-pink: #FF2A6A;
  --color-main: #EFFF04;
}

body {
  background: var(--background);
}