@import 'tailwindcss';

:root {
  --background: #0f0f0f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-noto: var(--font-noto-sans-kr);
  --font-br: var(--font-baskin-robbins);

  --color-black: #0f0f0f;
  --color-gray-500: #161616;
  --color-gray-400: #5a5a5a;
  --color-gray-300: #a4a4a4;
  --color-gray-200: #dddddd;
  --color-gray-100: #eeeeee;
  --color-white: #ffffff;

  --color-red: #ff483d;
  --color-blue: #29c9f9;
  --color-purple: #a77eff;
  --color-pink: #ff2a6a;
  --color-main: #efff04;

  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1920px;
}

body {
  background: var(--background);
}